<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <ul>
        {% for i in object_list %}
        <li>
            <h1>Приветсвуем - {{ i.username }}</h1>
            <p>Почта - {{ i.email }} </p>
            <p>Имя -  {{ i.first_name }} </p>
            <p>Возраст - {{ i.age }}</p>
            <p>Опыт - {{ i. exp_work }}</p>
            {% if i.experience_work %}
            <p>Ваш стаж работы - {{ i.experience_work }}</p>
            {% else %}
            <p>Стаж не определен</p>
            {% endif %}
        </li>


        {% endfor %}

    </ul>
    <form action="{% url 'users:login %}'" method="POST">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
</div>


</body>
</html>