{% include 'header.html' %}
<body>
 
<center>
<ol>

    {% for i in children_clothes %}
        <li>
            <img src="{{ children_clothes.image.url }}" class="img-thumbnail" alt="" width="300">
            <p>{{ i.name }}</p>
            <p>{{ i.price }}</p>
            <p>{{ i.description }}</p>
            {% for j in i.tags.all %}
                <p>#{{ j.name }}</p>
            {% endfor %}
        </li>
    {% endfor %}
    <button><a href="/mans_cloth/">М</a></button>
    <button><a href="/women_cloth/">Ж</a></button>
    <button><a href="/child_cloth/">Д</a></button>
</ol>
</center>

{% include 'footer.html' %}